body {
    background-color: rgb(215, 244, 255);
}

.jumbotron {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 0;
    background-color: skyblue;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}
